.welcome-page .logo {
  width: 64px;
}

.icon-banner {
  width: 32px;
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px;
}

.welcome-page li {
  list-style: none;
  padding: 4px;
}

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}

.containerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(234, 238, 240, 1);
}

.subContainerClass {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: auto;
    background-color: #fff;
    text-align: left;
}

.LinkStyled {
    margin: auto 10px;
}

.imgClass {
    display: block;
    margin: 0 auto;
}

.spanClass {
    color: rgb(72, 162, 121);
    cursor: pointer;
    text-decoration: underline;
}

.labelClass {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.inputClass {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
}

.buttonClass {
    background-color: rgb(0, 126, 69);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.buttonClass:hover {
    background-color: rgb(0, 101, 55);
}